// --------------------
// Definition of variables
$primary: #32c3ff;
$break-small: 500px;
$phone-font: 12px;
$phone-h2: 30px;

$img: url("https://www.thebalancecareers.com/thmb/O_TmK8EAF91BEisF-uxiss1QBbA=/1500x1000/filters:fill(auto,1)/nurses-discussing-over-documents-in-hospital-493216353-595690893df78c4eb647536e-5bd78e3446e0fb0051debf7f.jpg");

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
// --------------------
// Style reusable for all components

* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Nunito Regular"), local("Nunito-Regular"),
		url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-family: "Baloo Chettan 2", cursive;
}

.info {
	margin: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	display: inline-block;
	background-color: #5776e9;
	color: white;
}

.info.info-danger {
	background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
	@media screen and (max-width: $break-small) {
		h2 {
			font-size: $phone-h2;
		}
		p {
			font-size: $phone-font;
		}
	}
	.navbar {
		position: static;
		margin: auto;
		padding: 3rem;
		display: flex;
		justify-content: space-evenly;
		width: 100vw;
		a {
			color: rgb(5, 5, 53);
			padding: 0 15px;
			text-decoration: unset;
			&:hover {
				color: #546bbe;
			}
			&.active {
				font-weight: bold;
				color: #5776e9;
				text-decoration: underline;
			}
		}
	}
	.App-title {
		font-size: 1.5em;
		font-family: "Josefin Sans", sans-serif;
		@media screen and (max-width: $break-small) {
			font-size: $phone-font;
		}
	}
	.App-intro {
		font-size: large;
	}
	.username {
		@media screen and (max-width: $break-small) {
			font-size: $phone-font;
		}
	}
	.mainContent {
		margin: auto;
		width: 100vw;
		min-height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.form__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-direction: column;
	background: #fff;
	border-radius: 10px;
	width: 300px;
	height: 400px;
	padding: 45px;
	text-align: center;
	h2 {
		position: absolute;
		top: -55px;
		left: 25%;
		padding: 10px;
	}
	.big__circle {
		position: absolute;
		top: -400px;
		right: 250px;
		z-index: -1;
		width: 1300px;
		height: 1300px;
		border-radius: 50%;
		background: linear-gradient(65deg, transparent, rgba(144, 210, 249, 0.324));
	}
	.medium__circle {
		position: absolute;
		top: -400px;
		left: 500px;
		z-index: -1;
		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background: linear-gradient(65deg, aliceblue, transparent);
	}
	.small__circle {
		position: absolute;
		top: 200px;
		left: 0px;
		z-index: -1;
		width: 700px;
		height: 700px;
		border-radius: 50%;
		background: linear-gradient(65deg, aliceblue, transparent);
	}
}

// --------------------
// Style for Home component
.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92vh;
	width: 100vw;
	background: linear-gradient(115deg, rgba(28, 136, 230, 0.838), aliceblue);
	.homeContainer {
		max-width: 1080px;
		text-align: left;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		background: whitesmoke;
		border-radius: 3px;
		div {
			padding: 60px;
			h3 {
				margin-bottom: 2rem;
			}
			p {
				font-size: 1.2em;
				color: rgb(7, 4, 41);
			}
		}
		.img {
			display: flex;
			align-items: center;
		}
	}
}

// --------------------
// Style for Secret component
.Secret {
	.result {
		font-size: 1.2em;
		color: $primary;
	}
}

.classRight {
	align-self: flex-end;
}

.classLeft {
	align-self: flex-start;
}

.messagesContainer {
	display: flex;
	flex-direction: column;
	min-height: 600px;
	.bubbleWraper2 {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-start;
		p {
			font-size: 0.8rem;
			margin-bottom: -2px;
		}
		.speechbubble2 {
			background-color: aliceblue;
			border-radius: 0 12px 12px 12px;
			padding: 10px 15px;
			font-weight: 500;
			color: #fff;
			color: black;
			font-family: arial;
			text-align: left;
		}
	}
	.bubbleWraper {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-end;
		p {
			font-size: 0.8rem;
			margin-bottom: -2px;
		}
		.speechbubble {
			margin: 0 1px;
			background: rgb(216, 243, 255);
			border-radius: 12px 12px 0 12px;
			padding: 10px 15px;
			font-weight: 500;
			color: black;
			font-family: arial;
			position: relative;
			text-align: left;
		}
	}
	.msg__header {
		display: block;
		margin-bottom: 15px;
	}
	.bubbleWraper + .bubbleWraper,
	.bubbleWraper2 + .bubbleWraper2 {
		.msg__header {
			display: none;
		}
	}
	.bubbleWraper2 + .bubbleWraper2 {
		.speechbubble2 {
			border-radius: 0 12px 12px 0;
			margin-top: 2px;
		}
	}
	.bubbleWraper + .bubbleWraper {
		.speechbubble {
			border-radius: 12px 0 0 12px;
			margin-top: 2px;
		}
	}
}
.inputWrap {
	background: aliceblue;
	.inputChat {
		margin-left: 12px;
		flex: 6;
		height: 50px;
		padding-left: 10px;
		border-radius: 50px;
		border: none;
		font-size: 1rem;
		&:focus {
			outline: 0;
		}
	}
}

.chatBox {
	flex: 1;
	margin-top: 35px;
	border-radius: 5px;

	.chatTitle {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		border-bottom: 1px solid rgb(220, 220, 220);
		background: rgb(255, 255, 255);
		max-width: 400px;
		min-width: 350px;
		padding: 20px;
		text-align: left;
		&:hover {
			cursor: pointer;
			box-shadow: inset 0px -8px 10px aliceblue;
		}
		span {
			font-size: 0.8rem;
		}
	}
}

.displayChatsBox {
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
	margin-top: 90px;
	width: 560px;
	border-radius: 0 0 10px 10px;

	h4 {
		padding: 20px 20px;
		font-size: 20px;
		font-weight: 700;
		border-radius: 10px 10px 0px 0px;
		text-align: center;
	}

	ul {
		position: relative;
		background: #fff;

		&:hover li {
			opacity: 1;
			z-index: 100;
		}

		li {
			list-style: none;
			padding: 20px;
			background: #fff;
			box-shadow: 0 5px 10px rgba(0, 0, 99, 0.1);
			transition: transform 0.5s;
			display: flex;
			justify-content: space-between;

			&:hover {
				transform: scale(1.05);
				z-index: 100;
				background: #59a2ec;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				color: white;
				cursor: pointer;

				&:hover span {
					background: white;
					color: #59a2ec;
					border: 2px solid #59a2ec;
					z-index: -2;
				}
			}
			span {
				padding: 1px 5px;
				text-align: center;
				line-height: 27px;
				background: #59a2ec;
				color: white;
				display: inline-block;
				border: 2px solid white;
				border-radius: 15px;
				border-bottom-right-radius: 0;
				margin-right: 10px;
				font-size: 12px;
				font-weight: 600;
				transform: translateY(-25px);
			}
		}
	}
}

.chatPopup {
	margin-top: 100px;
}

footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	img {
		width: 100%;
		max-height: 150px;
	}
}
